<Languages><List>
	<Language Name="ThaiSource">
		<DisplayName>Thai</DisplayName>
		<Icon>thflag.png</Icon>
		<UIMode>1</UIMode>
		<Desc>Language Example</Desc>
		<!--Word Connect with space-->
		<SpaceConnect>true</SpaceConnect>
		<!--FamilyName Postposition-->
		<FamilyPostposition>false</FamilyPostposition>
		 <!--change the labelword in StoryTxt -->
		<Labels>
			<li Label="[ENHIM]" SecondPersonF="her" SecondPersonM="him"/>
			<li Label="[ENHERS]" SecondPersonF="hers" SecondPersonM="his"/>
			<li Label="[ENHIM2]" ThirdPersonF="her" ThirdPersonM="him"/>
			<li Label="[ENHERS2]" ThirdPersonF="hers" ThirdPersonM="his"/>
		</Labels>
	</Language>
</List></Languages>